# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=../path/to/symfony/folder

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpass

# Timezone
TIMEZONE=Europe/Warsaw

#Network
SUBNET=192.168.0.0/24
GETAWAY=192.168.0.1